rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Admin Dashboard
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
    
    // Public Site Content
    match /projects/{doc} { allow read: if true; }
    match /hobbies/{doc} { allow read: if true; }
    match /iot/{doc} { allow read: if true; }
    match /ai/{doc} { allow read: if true; }
    match /rpi/{doc} { allow read: if true; }
    match /skills/{doc} { allow read: if true; }
    match /timeline/{doc} { allow read: if true; }
    
    // Visitor Counter
    match /stats/visitors {
      allow read, write: if true;
    }
  }
}